In [ ]:
!pip install google-play-scraper

Collecting google-play-scraper
  Downloading google_play_scraper-1.2.4-py3-none-any.whl (28 kB)
Installing collected packages: google-play-scraper
Successfully installed google-play-scraper-1.2.4

In [ ]:
from google_play_scraper import app

import pandas as pd

import numpy as np

In [ ]:
#Scrape desired number of reviews
#Run kode scrapped 7000 berdasarkan review terbaru

from google_play_scraper import Sort, reviews

result, continuation_token = reviews(
    'com.traveloka.android',
    lang='id', # defaults to 'en'
    country='id', # defaults to 'us'
    sort=Sort.NEWEST, # defaults to Sort.MOST_RELEVANT you can use Sort.NEWEST to get newst reviews
    count=7000, # defaults to 100
    filter_score_with=None # defaults to None(means all score) Use 1 or 2 or 3 or 4 or 5 to select certain score
)

In [ ]:
df_busu = pd.DataFrame(np.array(result),columns=['review'])

df_busu = df_busu.join(pd.DataFrame(df_busu.pop('review').tolist()))

df_busu.head()

,reviewId,userName,userImage,content,score,thumbsUpCount,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,21e01113-88cf-4ece-af0f-982cead02119,muhammad hafiz,https://play-lh.googleusercontent.com/a-/AD_cM...,hh,5,0,3.79.0,2023-07-03 08:45:31,"Hi, thank you very much for the positive revie...",2023-07-03 09:12:06,3.79.0
1,e5b5f6d0-5371-42b0-a9ac-ae050b1efaf9,Donny Thyssen,https://play-lh.googleusercontent.com/a-/AD_cM...,baik,1,0,3.79.0,2023-07-03 08:33:41,"Hi Kak Donny, kami meminta maaf atas kendala y...",2023-07-03 08:44:05,3.79.0
2,0f0f2b98-a9b0-4dfa-9d12-823998215d1a,Hendrian Febrianto,https://play-lh.googleusercontent.com/a/AAcHTt...,oke,4,0,3.79.0,2023-07-03 08:09:30,None,NaT,3.79.0
3,1dbd9adc-e718-426a-b941-25f37647e576,Magfirah Alimuddin,https://play-lh.googleusercontent.com/a-/AD_cM...,lengkap dan cepat,5,0,3.79.0,2023-07-03 08:07:37,"Halo Kak, terima kasih banyak atas ratingnya, ...",2023-07-03 08:12:08,3.79.0
4,5f8e6a58-ff61-420b-aee4-4db88809a427,Guida Susandra,https://play-lh.googleusercontent.com/a-/AD_cM...,bagus,5,0,3.79.0,2023-07-03 08:04:55,"Hi Kak, terima kasih atas feedbacknya, semoga ...",2023-07-03 08:12:13,3.79.0

In [ ]:
len(df_busu.index) #count the number of data we got

7000

In [ ]:
df_busu[['userName', 'content','score', 'reviewCreatedVersion', 'at', 'replyContent', 'repliedAt', 'appVersion']].head()  #preview userName, rating, date-time, and reviews only

,userName,content,score,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,muhammad hafiz,hh,5,3.79.0,2023-07-03 08:45:31,"Hi, thank you very much for the positive revie...",2023-07-03 09:12:06,3.79.0
1,Donny Thyssen,baik,1,3.79.0,2023-07-03 08:33:41,"Hi Kak Donny, kami meminta maaf atas kendala y...",2023-07-03 08:44:05,3.79.0
2,Hendrian Febrianto,oke,4,3.79.0,2023-07-03 08:09:30,None,NaT,3.79.0
3,Magfirah Alimuddin,lengkap dan cepat,5,3.79.0,2023-07-03 08:07:37,"Halo Kak, terima kasih banyak atas ratingnya, ...",2023-07-03 08:12:08,3.79.0
4,Guida Susandra,bagus,5,3.79.0,2023-07-03 08:04:55,"Hi Kak, terima kasih atas feedbacknya, semoga ...",2023-07-03 08:12:13,3.79.0

In [ ]:
#Run This Code to Sort the Data By Date

new_df = df_busu[['userName', 'content','score', 'reviewCreatedVersion', 'at', 'replyContent', 'repliedAt', 'appVersion']]
sorted_df = new_df.sort_values(by='at', ascending=False) #Sort by Newst, change to True if you want to sort by Oldest.
sorted_df.head()

,userName,content,score,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,muhammad hafiz,hh,5,3.79.0,2023-07-03 08:45:31,"Hi, thank you very much for the positive revie...",2023-07-03 09:12:06,3.79.0
1,Donny Thyssen,baik,1,3.79.0,2023-07-03 08:33:41,"Hi Kak Donny, kami meminta maaf atas kendala y...",2023-07-03 08:44:05,3.79.0
2,Hendrian Febrianto,oke,4,3.79.0,2023-07-03 08:09:30,None,NaT,3.79.0
3,Magfirah Alimuddin,lengkap dan cepat,5,3.79.0,2023-07-03 08:07:37,"Halo Kak, terima kasih banyak atas ratingnya, ...",2023-07-03 08:12:08,3.79.0
4,Guida Susandra,bagus,5,3.79.0,2023-07-03 08:04:55,"Hi Kak, terima kasih atas feedbacknya, semoga ...",2023-07-03 08:12:13,3.79.0

In [ ]:
my_df = sorted_df[['userName', 'content','score', 'reviewCreatedVersion', 'at', 'replyContent', 'repliedAt', 'appVersion']] #get userName, rating, date-time, and reviews only

In [ ]:
my_df.head()

,userName,content,score,reviewCreatedVersion,at,replyContent,repliedAt,appVersion
0,muhammad hafiz,hh,5,3.79.0,2023-07-03 08:45:31,"Hi, thank you very much for the positive revie...",2023-07-03 09:12:06,3.79.0
1,Donny Thyssen,baik,1,3.79.0,2023-07-03 08:33:41,"Hi Kak Donny, kami meminta maaf atas kendala y...",2023-07-03 08:44:05,3.79.0
2,Hendrian Febrianto,oke,4,3.79.0,2023-07-03 08:09:30,None,NaT,3.79.0
3,Magfirah Alimuddin,lengkap dan cepat,5,3.79.0,2023-07-03 08:07:37,"Halo Kak, terima kasih banyak atas ratingnya, ...",2023-07-03 08:12:08,3.79.0
4,Guida Susandra,bagus,5,3.79.0,2023-07-03 08:04:55,"Hi Kak, terima kasih atas feedbacknya, semoga ...",2023-07-03 08:12:13,3.79.0

In [ ]:
my_df.to_csv("traveloka_scrapped_data.csv", index = False)  #Save the file as CSV , to download: click the folder icon on the left. the csv file should be there.